Playbooks/Module/IsolateMachine.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Module-IsolateMachine",
        "description": "Defender XDR Isolate machine module",
        "lastUpdateTime": "29-07-2024",
        "entities": [],
        "tags": [],
        "support": {
            "tier": "community"
        },
        "author": {
            "name": "noodlemctwoodle"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Module-IsolateMachine",
            "type": "string"
        }
    },
    "variables": {
        "MicrosoftDefenderXDR0ConnectionName": "[concat('MicrosoftDefenderXDR0-', parameters('PlaybookName'))]",
        "MicrosoftDefenderXDR1ConnectionName": "[concat('MicrosoftDefenderXDR1-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "MachineId": {
                                            "type": "string"
                                        },
                                        "hostName": {
                                            "type": "string"
                                        },
                                        "Comment": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "oneOf": [
                                        {
                                            "required": [
                                                "MachineId"
                                            ]
                                        },
                                        {
                                            "required": [
                                                "hostName"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "actions": {
                        "Actions_-_Isolate_machine": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "Comment": "@triggerBody()?['Comment']",
                                    "IsolationType": "Full"
                                },
                                "path": "/api/machines/@{encodeURIComponent(variables('MDEDeviceId'))}/isolate"
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Actions_-_Isolate_machine": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": "@body('Actions_-_Isolate_machine')?['status']"
                            }
                        },
                        "Initialize_DeviceId_Var": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "MDEDeviceId",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Machines_-_Get_single_machine_HostName": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['wdatp-1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/api/machines/@{encodeURIComponent(triggerBody()?['hostName'])}"
                                    }
                                },
                                "Append_to_string_variable_True": {
                                    "runAfter": {
                                        "Machines_-_Get_single_machine_HostName": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "MDEDeviceId",
                                        "value": "@body('Machines_-_Get_single_machine_HostName')?['id']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_DeviceId_Var": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Machines_-_Get_single_MachineId": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['wdatp-1']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/api/machines/@{encodeURIComponent(triggerBody()?['MachineId'])}"
                                        }
                                    },
                                    "Append_to_string_variable_False": {
                                        "runAfter": {
                                            "Machines_-_Get_single_MachineId": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "AppendToStringVariable",
                                        "inputs": {
                                            "name": "MDEDeviceId",
                                            "value": "@body('Machines_-_Get_single_MachineId')?['id']"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['hostName']",
                                            "@null"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "wdatp": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftDefenderXDR0ConnectionName'))]",
                                "connectionName": "[variables('MicrosoftDefenderXDR0ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "wdatp-1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftDefenderXDR1ConnectionName'))]",
                                "connectionName": "[variables('MicrosoftDefenderXDR1ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp-1')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                },
                "accessControl": {
                    "triggers": {
                        "allowedCallerIpAddresses": []
                    },
                    "actions": {
                        "allowedCallerIpAddresses": []
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "Source": "Sentinel-As-Code",
                "hidden-SentinelTemplateName": "Module-IsolateMachine",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftDefenderXDR0ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftDefenderXDR1ConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftDefenderXDR0ConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftDefenderXDR0ConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftDefenderXDR1ConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftDefenderXDR1ConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
                }
            }
        }
    ]
}
